<head>

    <title> Welcome - User </title>

    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans|Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../stylesheets/After_User_Login.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<html>
<body style="background-image: url(../images/After_User_Login.jpg)">
    <header class = "header">

        <div>

            <a href = "/">
                <img class = "img-responsive logo dropdown" src="../images/MedRep1.png" alt="Logo">
            </a>

            <a type="button" href = "/users/logout">
                <button class="logout" type="submit">Logout</button>
            </a>

            <img class = "userLogo" src = "../images/userIcon.png">

            <div style =" float: right; margin: 4% 3% 0% 0%" class="popup" onclick="myFunction()">
                <h1 class="headerName"><%= name %></h1>
                <span class="popuptext" id="myPopup">
                Aadhaar Number : <%= aadhaar %><br>
                Mobile Number : <%= mobile %><br>
                Email : <%= email %><br>
                Number of Reports in Account : 50<br>
                </span>
            </div>

        </div>

    </header>

    <hr>
<!---------------------------------------------------------------------------------------------------------------->
    <div align = "center">
    <h1 class="reportName" style= "margin-top: 5%; font-size: 250%;"> Medical History </h1>
    </div>

    <div style = "margin-top: 5%; width: 100%" align = "center">

        <table align = "center" style="width: 75%">


          <% for(var i=0; i < image.length; i++) { %>
            <tr>
              <td><h1 class="reportName"><%= image[i].originalname %></h1></td>
              <td><a href = "/users/After_User_Login/images/<%= image[i]._id %>" download><img src="/images/Download_Report.png"></a></td>
            </tr>
          <% } %>


        </table>


    </div>


</body>
</html>



<script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
